@charset "UTF-8";

/* =========================================Paletas==================================================== 
#3D74A3
#FECE57
#16363E
#295C6A
*/

/*  ========================================Fontes===================================================*/
@import url('https://fonts.googleapis.com/css2?family=Alatsi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jersey+25&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

/* =========================================Geral==================================================== */

*{
    margin: 0px;
    padding: 0px;
}

html , body{
    width: 100vw;
    height: 100vh;
    font-family: var(--fonte-alatsi);
    overflow-x: hidden;
    background-color: var(--cor5);
}

:root {
    --cor1: #3D74A3;
    --cor2: #FECE57;
    --cor3: #16363E;
    --cor4: #295C6A;
    --cor5: #01304E;
    --fonte-alatsi: "Alatsi";
    --fonte-jersey: "Jersey 25";
    --fonte-code: "Source Code Pro";
    --fonte-pixel: "Press Start 2P" ;
}

/* ========================================  HEADER ==================================================*/

header {
    background-color: var(--cor1);
    color: yellow;
    text-align: center;
    box-shadow: 0px 0px 5px var(--cor2);
}

header > h1{
    font-family: var(--fonte-jersey);
    font-weight: bold;
    font-size: 3em;
    font-variant: small-caps;
    text-shadow: 0px 0px 3px var(--cor3);
    padding: 20px 0px;
}

/* ========================================  INDEX ==================================================*/

main{
    background-color: var(--cor5);
    height: 100vh;
}

main > img{
    width: 100%;
    box-shadow: inset 0px 0px 15px black;
}

main > section#principal{
    margin: auto;
    margin-top: 15px;
    width: 300px;
    padding: 5px 10px;
    background-color: lightgoldenrodyellow;
    border-radius: 10px;
}
section#principal > section.exercicios{
    width: 270px;
    margin: auto;
    padding: 5px 10px;
    background-color: white;
    border: 5px solid var(--cor5);
    display: none;
}
section#principal > h1{
    text-align: center;
    font-size: 1.5em;
    color: var(--cor4);
    text-transform: uppercase;
    padding: 10px 2px;
    font-family: var(--fonte-alatsi);
}

section#principal > p{
    text-align: justify;
    text-indent: 10px;
    margin-bottom: 15px;
}

section#principal > h2{
    text-align: center;
    font-variant: small-caps;
    color: var(--cor3);
}

section#principal > p.botao{
    text-align: center;
    background-color: #3D74A3;
    color: var(--cor2);
    font-size: 1.2em;
    padding: 10px 3px;
    font-family: var(--fonte-alatsi);
    border-radius: 5px 5px 0px 0px;
    border: 7px solid var(--cor3);
    margin-bottom: -2px;
}

section.exercicios > p{
    text-align: justify;
    color: black;
    font-size: 1.1em;
    padding: 7px 10px;
    margin-bottom: 10px;
}

section.exercicios > p > a{
    color: var(--cor5);
    background-color: var(--cor2);
    padding: 0px 6px;
    border-radius: 5px;
}

section.exercicios > ol{
    width: 250px;
    font-size: 0.9em;
    display: block;
    margin: auto;
    margin-left: 20px;
    margin-top: -10px;
}

ol > li{
    margin-bottom: 3px;
}

p.voltar > a{
    display: block;
    width: 100px;
    margin: auto;
    margin-top: 15px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    text-shadow: 0px 0px 25px var(--cor2);

    background-color: var(--cor2);
    color: #01304E;

    font-size: 1.4em;
    font-weight: bold;
    font-family: var(--fonte-alatsi);

    box-shadow: 0px 0px 10px var(--cor2);
    border: 3px solid var(--cor1);
    border-radius: 15px;
}

/* ===================================== PAGINA EXERCICIOS ==========================================*/

section#principal > section.pagina{
    text-align: center;
}

section.pagina > p{
    padding: 6px;
    margin: auto;
    text-align: justify;
    width: 250px;
    line-height: 21.5px;
    
}

section.pagina > img{
    display: block;
    margin: auto;
    border: 3px solid var(--cor2);
    box-sizing: border-box;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.596);
}


section.pagina > pre{
    margin: 5px;
    background-color: lightgoldenrodyellow;
    border-radius: 15px;
    box-sizing: border-box;
    text-align: left;
}

section.pagina > pre:hover{
    background-color: white;
    border: 5px solid var(--cor1);
    box-shadow: 0px 0px 20px white;
    box-sizing: border-box;
}

pre > code{
    font-family: monospace ;
    font-size: 0.65em;
    letter-spacing: -0.5px;
    line-height: 12px;
}


pre > code > div{
    font-weight: bolder;
    overflow: hidden;
    margin-left: 10px;
}

section.pagina > ol{
    text-align: left;
    width: 250px;
    font-size: 0.9em;
    display: block;
    margin: auto;
    margin-left: 20px;
    margin-top: 2px;
}

section.pagina  strong.com{
    background-color: yellow;
    color: black;
    padding: 1px 5px;
    border-radius: 5px;
    font-weight: bold;
}

section.pagina  strong.bib{
    background-color: purple;
    color: white;
    padding: 1px 5px;
    border-radius: 5px;
    font-weight: bold;
}